---
interface Props {
  discussionId?: string;
}

const { discussionId } = Astro.props;
---

{discussionId && (
  <>
    <div class="talkyard-comments" data-discussion-id={discussionId} data-talkyard-page-id="">
      <noscript>Please enable Javascript to view comments.</noscript>
    </div>

    <script is:inline>
      // Load Talkyard script once (similar to React componentDidMount)
      (function() {
        if (window.talkyardScriptAdded) return;

        var scriptElem = document.createElement('script');
        var headOrBodyElem = document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0];

        scriptElem.async = true;
        scriptElem.type = 'text/javascript';
        scriptElem.src = window.talkyardScriptUrl || 'https://c1.ty-cdn.net/-/talkyard-comments.min.js';

        headOrBodyElem.appendChild(scriptElem);
        window.talkyardScriptAdded = true;
      })();
    </script>
  </>
)}

<style>
  .talkyard-comments {
    margin-top: var(--space-xl);
    padding-top: var(--space-l);
    border-top: 1px solid var(--color-neutral-gray-c);
    max-width: 100%;
  }
</style>
